.container
  %h2 Team Members
  -if user_signed_in?
    = link_to 'Join team', team_team_members_path, action: :create, method: :post,
      class: 'btn btn-success'

  %table.table.table-hover
    %thead
      %tr
        %th Role
        %th User
    %tbody
      - @team_members.each do |team_member|
        %tr
          %td= team_member.role
          %td= team_member.user.nick
