.container
  %h2 Team Members
  -if user_signed_in?
    - if @team_members.any? { |a| a.user == current_user}
      = link_to 'Leave team', team_team_member_path(id: current_user.id), method: :delete, class: 'btn btn-success'
    - else
      = link_to 'Join team', team_team_members_path, action: :create, method: :post, class: 'btn btn-success'

  %table.table.table-hover
    %thead
      %tr
        %th Role
        %th User
    %tbody
      - @team_members.each do |team_member|
        %tr
          %td= team_member.role
          %td= team_member.user.inspect
