.container
  %h2 Tournament Members
  %table.table.table-hover
    %thead
      %tr
        %th Avatar
        %th Team name
        %th Captain Nick
        %th Register Time
    %tbody
      - @tournament_members.each do |tournament_member|
        %tr
          %td тут будет авка
          %td название команды
          %td ник капитана
          %td дата регистрации
