.container
  %h2 Tournament Members
  %table.table.table-hover
    %thead
      %tr
        %th Avatar
        %th Team name
        %th Captain Nick
        %th Register Time
    %tbody
      - @tournament_members.each do |tournament_member|
        %tr
          %td= image_tag tournament_member.team.image.url(:thumb_200), class:'img_value' if tournament_member.team.image?
          %td= tournament_member.team.name
          %td= tournament_member.team.owner.inspect
          %td= I18n.localize tournament_member.team.created_at, format: :my_time

=@tournament_members.inspect
