.container
  %h2 Tournament Members
  %table
    %thead
      %tr
        %th Avatar
        %th Team name
        %th Captain Nick
        %th Register Time
        %th{:colspan => "3"}
    %tbody
      - @tournament_members.each do |tournament_member|
        %tr
          %td тут будет авка
          %td название команды
          %td ник капитана
          %td дата регистрации
          %td= link_to 'Show', tournament_member
          %td= link_to 'Edit', edit_tournament_member_path(tournament_member)
          %td= link_to 'Destroy', tournament_member, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Tournament Member', new_tournament_tournament_member_path
